
// Bootstrap variable overrides


//  General variables

$border-radius-base:        0px !default;
$border-radius-large:       0px !default;
$border-radius-small:       0px !default;


// Fonts
 @import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700);
 $font-family-sans-serif: 'Source Sans Pro', sans-serif;
 $headings-font-family: 'Source Sans Pro', sans-serif;
 $font-family-base: $font-family-sans-serif;

 // Colors
 $primary: #3cd986;
 $secondary: #12271a;
 $grey: #e0eae5;
 $white: #ffffff;

 // Buttons
 $btn-default-color: $secondary;
 $btn-default-bg: $primary;
 $btn-default-border: $primary;


// Navbar
 $navbar-default-bg: $primary;
 $navbar-default-border: primary;
 $navbar-default-brand-color: $secondary;
 $navbar-default-link-color: $secondary;
