---
notes: |
  Sidebar with accordion thingy, goes with other stuff inside a row
---


<div  class="col-xs-12 col-sm-3" >
    <div id="banda-sidebar">
        <ul class="list-unstyled banda-nav nav">
            <li class="banda-nav-section-title">Section 1</li>
            <li>
                <ul class="list-unstyled banda-nav-section active">
                    <li><a href="#test1">Lorem ipsum</a></li>
                    <li><a href="#test2">Aliquam tincidunt</a></li>
                </ul>
            </li>
        </ul>
        <ul class="list-unstyled banda-nav">
            <li class="banda-nav-section-title">Section 2</li>
            <li>
                <ul class="list-unstyled banda-nav-section active">
                    <li><a href="#test3">Lorem ipsum</a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>
